@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

html {
    box-sizing: border-box;
    font-family: 'Karla';
}

html,
body {
    height: 100%;
    line-height: 1.5;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

/* CSS Variable */
:root {
    /* Colors */
    --cyan: #2ab2af;
    --bright-yellow: #c0df34;
    --light-gray: #e5eff5;
    --grayish-blue: #98a6bd;

    /* Padding */
    --section-padding: 1.25em;
}

body {
    background-color: #e5eff5;
    padding: 1.25em;
}

.main-container {
    width: 100%;
    background-color: white;
    box-shadow: 1px 2px 9px 0px rgba(0, 0, 0, 0.26);
    -webkit-box-shadow: 1px 2px 9px 0px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 1px 2px 9px 0px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
    overflow: hidden;
}

.top-section {
    padding: var(--section-padding);
}

.top-section h1 {
    color: #2ab2af;
    font-size: 1.5rem;
}

.top-section .risk-free-trial {
    color: #c0df34;
    font-size: 1.15rem;
    font-weight: 700;
    margin: 1.25em 0 0.3125em 0;
}

.top-section p {
    color: #98a6bd;
}

.bottom-section {
    height: 55%;
}

.bottom-left {
    background-color: var(--cyan);
}

#price-container {
    margin: 0.625em 0 0.625em 0;
}

#price {
    display: inline-block;
    font-size: 2rem;
    font-weight: 700;
}

#text {
    display: inline-block;
    margin-left: 0.3125em;
    color: var(--light-gray);
    font-weight: 400;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-top: 2.1875em;
    width: 98%;
    height: 3.125em;
    background-color: var(--bright-yellow);
    color: var(--light-gray);
    border: none;
    border-radius: 5px;
    font-size: 1.05em;
    box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.24);
    -webkit-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.24);
}

.button:active {
    background-color: var(--light-gray);
    color: var(--cyan);
    transition: .2s;
}

.bottom-right {
    background-color: var(--cyan);
    opacity: .9;
}

.bottom-left,
.bottom-right {
    padding: var(--section-padding);
    color: var(--light-gray);
}

.resources {
    list-style: none;
    margin-top: 1.25em;
}

.resources li {
    color: var(--light-gray);
    opacity: .7;
    font-size: .85rem;
}

.sub-heading {
    font-size: 1.15rem;
}

@media screen and (min-width: 550px) {
    :root {
        --section-padding: 2.4em;
    }

    body {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main-container {
        max-width: 39.6875em;
    }

    .top-section {
        height: 45%;
    }

    .bottom-section {
        display: flex;
        height: 55%;
    }

    .bottom-left,
    .bottom-right {
        flex: 50%;
    }

    .button:hover {
        cursor: pointer;
        color: var(--cyan);
        background-color: var(--light-gray);
    }
}
