@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

html {
    font-size: 16px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Karla';
}

body {
    background-color: #e5eff5;
    padding: 20px;
}

main {
    width: 100%;
    background-color: white;
    box-shadow: 1px 2px 9px 0px rgba(0, 0, 0, 0.26);
    -webkit-box-shadow: 1px 2px 9px 0px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 1px 2px 9px 0px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
    overflow: hidden;
}

#top-section {
    padding: 20px;
}

#top-section h1 {
    color: #2ab2af;
    font-size: 1.5rem;
}

#top-section h2 {
    color: #c0df34;
    margin: 20px 0 10px 0;
    font-size: 1rem;
}

#top-section p {
    color: #98a6bd;
    line-height: 25px;
}

#bottom-section {
    height: 55%;
}

#bottom-left {
    background-color: #2ab2af;
}

#price-container {
    margin: 10px 0 10px 0;
}

#price {
    display: inline-block;
    font-size: 2em;
    font-weight: 700;
}

#text {
    display: inline-block;
    margin-left: 5px;
    color: #cfd1d0;
    font-weight: 400;
}

button {
    margin-top: 35px;
    width: 98%;
    height: 50px;
    background-color: #c0df34;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.05em;
    box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.24);
    -webkit-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.24);
}

button:active {
    background-color: #e4e6eb;
    color: #050505;
    transition: .3s;
}

#bottom-right {
    background-color: #30ccc9;
}

#bottom-left,
#bottom-right {
    padding: 20px;
    color: #e5eff5;
}

ul {
    list-style: none;
    margin-top: 20px;
}

li {
    line-height: 20px;
    color: #f1f1f1;
}

@media screen and (min-width: 550px) {
    body {
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    main {
        width: 600px;
    }

    #bottom-section {
        display: flex;
        height: 55%;
    }

    #bottom-left,
    #bottom-right {
        flex: 50%;
    }

    button:hover {
        cursor: pointer;
        color: #050505;
        background-color: #e4e6eb;
    }
}
