@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root {
    /* Colors */
    --cyan: #2ab2af;
    --bright-yellow: #c0df34;
    --light-gray: #e5eff5;
    --grayish-blue: #98a6bd;
    --white: #ffffff;

    /* Padding */
    --section-padding: 1.5em;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    background-color: var(--light-gray);
    font-family: 'Karla';
}

ul[role='list'] {
    list-style: none;
    opacity: .7;
    font-size: .9rem;
}

p,
h1,
h2 {
    overflow-wrap: break-word;
}

a {
    text-decoration: none;
}

.main-section {
    display: grid;
    margin: 5rem 1.5rem;
    max-width: 38em;
    box-shadow: 1px 2px 9px 0px rgba(0, 0, 0, 0.26);
    -webkit-box-shadow: 1px 2px 9px 0px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 1px 2px 9px 0px rgba(0, 0, 0, 0.26);
    border-radius: 7px;
    overflow: hidden;
}

.top {
    background-color: var(--white);
    color: var(--grayish-blue);
    padding: 2rem var(--section-padding);
}

.top .main-heading {
    color: var(--cyan);
    margin-bottom: 1.25rem;
}

.top .quote {
    color: var(--bright-yellow);
    margin-bottom: 1rem;
    font-weight: 700;
}

.top .text {
    line-height: 1.75;
}

.bottom-left {
    background-color: var(--cyan);
}

.bottom-left .price {
    font-size: 1.75rem;
    font-weight: 700;
}

.bottom-left .price-text {
    opacity: .75;
    margin-left: .5rem;
}

.bottom-left .button {
    background-color: var(--bright-yellow);
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 3rem;
    margin-top: 1.75rem;
    border: none;
    border-radius: 5px;
    font-size: 1.05em;
    box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.24);
    -webkit-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.24);
}

.bottom-left .button:active {
    background-color: var(--light-gray);
    color: var(--cyan);
    transition: -1s;
}

.bottom-right {
    background-color: var(--cyan);
    opacity: .8;
}

.bottom-left,
.bottom-right {
    color: var(--light-gray);
    padding: var(--section-padding);
}

.sub-heading {
    font-size: 1.15rem;
    margin-bottom: 1rem;
}

.attribution {
    font-size: 0.688rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 37.5em) {
    :root {
        --section-padding: 2em;
    }

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .main-section {
        grid-template-columns: 1fr 1fr;
    }

    .top {
        grid-column: 1 / -1;
    }

    .button:hover {
        cursor: pointer;
        color: var(--cyan);
        background-color: var(--light-gray);
    }

}
